h1 {
  color: tomato;
}

ul li:active {
  font-weight: bold;
  border-bottom: 1px solid black
}

.weather-form {
  text-align: center;
}

.form-control {
   width: 10%;
   margin-left: 45%
}
h3 {
  text-align: center;
}
